body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,*::before,*::after{
  box-sizing:border-box;
} 
a{
  cursor: pointer;
}
body{
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
input,button,textarea {font-family: inherit;}

body._lock{ overflow: hidden;} 
h1{ margin: 0;}


